<div class="navbar bg-base-100 shadow-sm z-10 top-0 fixed">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        @for (item of navMenu; track item.name) {
          <li>
            <a [routerLink]="item.routes" routerLinkActive="bg-accent">{{ item.name }}</a>
          </li>
        }
        <li>
          <a>Ventas</a>
          <ul class="p-2">
            <li routerLink="/grifo/institution/list"><a>Organizaciones</a></li>
            <li routerLink="/grifo/institution/ordenes-compra"><a>Ordenes</a></li>
            <li routerLink="/grifo/institution/ventas-institution"><a>Reportes</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="flex items-center justify-center w-10 h-10 rounded-l">
      <img src="./assets/images/logo-1.png" class="rounded-xl" alt="" />
    </div>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      @for (item of navMenu; track item.name) {
        <li>
          <a [routerLink]="item.routes" routerLinkActive="bg-accent">{{ item.name }}</a>
        </li>
      }
      <li>
        <details>
          <summary>Ventas</summary>
          <ul class="p-2 bg-base-100 w-40 z-1">
            <li routerLink="/grifo/institution/list"><a>Organizaciones</a></li>
            <li routerLink="/grifo/institution/ordenes-compra"><a>Ordenes</a></li>
            <li routerLink="/grifo/institution/ventas-institution"><a>Reportes</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>

  <!-- temas -->
  <div class="dropdown">
      <div tabindex="0"
    class="bg-base-100 group-hover:border-base-content/20 border-base-content/10 grid shrink-0 grid-cols-2 gap-0.5 rounded-md border p-1 transition-colors size-5"
  >
    <div class="bg-base-content size-1 rounded-full"></div>
    <div class="bg-primary size-1 rounded-full"></div>
    <div class="bg-secondary size-1 rounded-full"></div>
    <div class="bg-accent size-1 rounded-full"></div>
  </div>
    <ul tabindex="-1" class="dropdown-content bg-base-300 rounded-box z-1 w-52 p-2 shadow-2xl">
      <li>
        <input
          type="radio"
          name="theme-dropdown"
          class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
          aria-label="Retro"
          value="retro"
          (change)="onThemeChange($event)"
          [checked]="selectedTheme === 'retro'"
        />
      </li>
      <li>
        <input
          type="radio"
          name="theme-dropdown"
          select
          class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
          aria-label="winter"
          value="winter"
          (change)="onThemeChange($event)"
          [checked]="selectedTheme === 'winter'"
        />
      </li>
      <li>
        <input
          type="radio"
          name="theme-dropdown"
          class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
          aria-label="Valentine"
          value="valentine"
          (change)="onThemeChange($event)"
          [checked]="selectedTheme === 'valentine'"
        />
      </li>
      <li>
        <input
          type="radio"
          name="theme-dropdown"
          class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
          aria-label="Aqua"
          value="aqua"
          (change)="onThemeChange($event)"
          [checked]="selectedTheme === 'aqua'"
        />
      </li>
      <li>
        <input
          type="radio"
          name="theme-dropdown"
          class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
          aria-label="forest"
          value="forest"
          (change)="onThemeChange($event)"
          [checked]="selectedTheme === 'forest'"
        />
      </li>
    </ul>
  </div>
  <div class="navbar-end flex">
    <p class="text-xs md:text-2xl font-medium mx-4">{{ user?.nombre }} {{ user?.apellido }}</p>
    <a class="btn" (click)="_authService.logoutAndReload()" routerLink="/">Salir</a>
  </div>
</div>
