<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  <select class="select select-accent">
    <option selected disabled>Color scheme</option>
    <option>Light mode</option>
    <option>Dark mode</option>
    <option>System</option>
  </select>

  <select class="select select-accent">
    <option selected disabled>Color scheme</option>
    <option>Light mode</option>
    <option>Dark mode</option>
    <option>System</option>
  </select>

  <select class="select select-accent">
    <option selected disabled>Color scheme</option>
    <option>Light mode</option>
    <option>Dark mode</option>
    <option>System</option>
  </select>
</div>
