<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <select
    class="select select-accent w-full"
    (ngModelChange)="listTipoVentas($event)"
    [(ngModel)]="organizationSelected"
  >
    <option selected value="All" disabled>Organizaciones</option>
    @for (item of listOrganizationData(); track $index) {
      <option value="{{ item.idOrganization }}">{{ item.nombreOrganization }}</option>
    }
  </select>
  @if (listTipoVentaData() != null && listTipoVentaData()!.length > 0) {
    <select
      class="select select-accent w-full"
      (ngModelChange)="listaVentas($event)"
      [(ngModel)]="tipoVentaSelected"
    >
      <option value="All" selected disabled>Tipo de Venta</option>
      @for (item of listTipoVentaData(); track $index) {
        <option value="{{ item.idTipoVenta }}">{{ item.tipo }} - {{ item.codigo }}</option>
      }
    </select>
  }
</div>
