<div class="relative overflow-x-auto shadow-md sm:rounded-lg px-5 md:px-10 m-4">
  <div class="z-5 fixed top-16 bg-base-100 w-full py-4">
    <h1 class="text-xs md:text-2xl font-semibold mb-2">Ordenes de compra</h1>
    @if (idOrga()) {
      <button class="btn btn-outline btn-accent min-w-36" onclick="my_modal_1.showModal()">
        Crear orden de compra
      </button>
    }
  </div>

  <!-- Búsqueda general -->
  <div class="overflow-x-auto">
    <div class="md:flex">
      <app-header-select-ventas
        [lookTypeVenta]="false"
        class="w-1/2 mb-4"
        (idorganization)="idorganizationSelected($event)"
      />
      @if (idOrga() != 0) {
        <tyn-filter
          [filterMenu]="filterMenu()"
          (selectFilter)="changeState($event)"
          placeholder="Buscar"
          [currentPage]="_linkService.currentPage()"
          [currentSize]="_linkService.currentSize()"
        ></tyn-filter>
      }
    </div>
    @if (idOrga() != 0) {
      <table class="table sm:table-xs md:table-xl">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Código</th>
            <th>Petroleo</th>
            <th>Regular</th>
            <th>Premiun</th>
            <th>Opciones</th>
          </tr>
        </thead>
        @if (listTipoVentaRx.hasValue()) {
          <tbody>
            @for (item of listTipoVentaRx.value().content; track item.idTipoVenta) {
              <tr class="hover:bg-gray-300">
                <td class="text-xs md:text-xl">{{ item.tipo }}</td>
                <td>
                  {{ item.status ? 'Activo' : 'Inactivo' }}
                </td>
                <td>
                  {{ item.codigo }}
                </td>
                <td>
                  {{ item.diesel }}
                </td>
                <td>
                  {{ item.regular }}
                </td>
                <td>
                  {{ item.premiun }}
                </td>
                <td>
                  <button
                    class="btn btn-sm btn-outline btn-accent"
                    (click)="openModal(item, modalOrgRef)"
                  >
                    Editar
                  </button>
                </td>
              </tr>
            } @empty {
              <p class="text-center w-max">
                <i class="fa-info-circle fa" aria-hidden="true"></i> No hay información para mostrar
              </p>
            }
          </tbody>
        }
        <tfoot>
          <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Código</th>
            <th>Opciones</th>
          </tr>
        </tfoot>
      </table>
      <!-- Paginación -->
      @if (listTipoVentaRx.hasValue()) {
        <app-pagination
          [pages]="listTipoVentaRx.value().totalPages"
          [totalElements]="listTipoVentaRx.value().totalElements"
          [currentPage]="_linkService.currentPage()"
          [currentSize]="_linkService.currentSize()"
        />
      }
    }
  </div>
</div>
<dialog #modalOrgRef id="my_modal_1" class="modal" (close)="closeModal(modalOrgRef)">
  <div class="modal-box w-11/12 max-w-5xl">
    <form method="dialog" autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">
      <div class="mt-5">
        <div>
          <div class="mt-5">
            <label
              for="tipo"
              class="block mb-2 text-sm font-medium"
              [ngClass]="{
                ' text-red-700 dark:text-red-500': formUtils.isValiedField(myForm, 'tipo'),
              }"
              >Tipo</label
            >
            <input
              type="text"
              id="tipo"
              formControlName="tipo"
              placeholder="Tipo de orden"
              class="border text-sm input-md input rounded-lg block w-full p-2.5"
              [ngClass]="{
                ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
                  formUtils.isValiedField(myForm, 'tipo'),
              }"
            />
            @if (formUtils.isValiedField(myForm, 'tipo')) {
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                <span class="font-medium">{{ formUtils.getFieldError(myForm, 'tipo') }}</span>
              </p>
            }
          </div>
          <div class="mt-5">
            <label
              for="codigo"
              class="block mb-2 text-sm font-medium"
              [ngClass]="{
                ' text-red-700 dark:text-red-500': formUtils.isValiedField(myForm, 'codigo'),
              }"
              >Codigo</label
            >
            <input
              type="text"
              id="codigo"
              formControlName="codigo"
              placeholder="codigo"
              class="border text-sm input-md input rounded-lg block w-full p-2.5"
              [ngClass]="{
                ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
                  formUtils.isValiedField(myForm, 'codigo'),
              }"
            />
            @if (formUtils.isValiedField(myForm, 'codigo')) {
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                <span class="font-medium">{{ formUtils.getFieldError(myForm, 'codigo') }}</span>
              </p>
            }
          </div>
          <div class="mt-5">
            <label
              for="status"
              class="block mb-2 text-sm font-medium"
              [ngClass]="{
                ' text-red-700 dark:text-red-500': formUtils.isValiedField(myForm, 'status'),
              }"
              >Estado de la institución</label
            >
            <select
              class="select"
              formControlName="status"
              name="status"
              id="status"
              class="select w-full"
              [ngClass]="{
                ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
                  formUtils.isValiedField(myForm, 'status'),
              }"
            >
              <option disabled selected value="">Seleccione el estado</option>
              <option value="true">Activo</option>
              <option value="false">Suspendido</option>
            </select>
            @if (formUtils.isValiedField(myForm, 'status')) {
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                <span class="font-medium">{{ formUtils.getFieldError(myForm, 'status') }}</span>
              </p>
            }
          </div>
          <div class="mt-5">
            <label
              for="diesel"
              class="block mb-2 text-sm font-medium"
              [ngClass]="{
                ' text-red-700 dark:text-red-500': formUtils.isValiedField(myForm, 'diesel'),
              }"
              >diesel</label
            >
            <input
              type="number"
              id="diesel"
              formControlName="diesel"
              placeholder="diesel"
              class="border text-sm input-md input rounded-lg block w-full p-2.5"
              [ngClass]="{
                ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
                  formUtils.isValiedField(myForm, 'diesel'),
              }"
            />
            @if (formUtils.isValiedField(myForm, 'diesel')) {
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                <span class="font-medium">{{ formUtils.getFieldError(myForm, 'diesel') }}</span>
              </p>
            }
          </div>
          <div class="mt-5">
            <label
              for="regular"
              class="block mb-2 text-sm font-medium"
              [ngClass]="{
                ' text-red-700 dark:text-red-500': formUtils.isValiedField(myForm, 'regular'),
              }"
              >regular</label
            >
            <input
              type="number"
              id="regular"
              formControlName="regular"
              placeholder="regular"
              class="border text-sm input-md input rounded-lg block w-full p-2.5"
              [ngClass]="{
                ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
                  formUtils.isValiedField(myForm, 'regular'),
              }"
            />
            @if (formUtils.isValiedField(myForm, 'regular')) {
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                <span class="font-medium">{{ formUtils.getFieldError(myForm, 'regular') }}</span>
              </p>
            }
          </div>
          <div class="mt-5">
            <label
              for="premiun"
              class="block mb-2 text-sm font-medium"
              [ngClass]="{
                ' text-red-700 dark:text-red-500': formUtils.isValiedField(myForm, 'premiun'),
              }"
              >premiun</label
            >
            <input
              type="text"
              id="premiun"
              formControlName="premiun"
              placeholder="premiun"
              class="border text-sm input-md input rounded-lg block w-full p-2.5"
              [ngClass]="{
                ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
                  formUtils.isValiedField(myForm, 'premiun'),
              }"
            />
            @if (formUtils.isValiedField(myForm, 'premiun')) {
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                <span class="font-medium">{{ formUtils.getFieldError(myForm, 'premiun') }}</span>
              </p>
            }
          </div>
        </div>
      </div>

      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      <div class="md:flex md:justify-end mt-2">
        <button
          class="btn btn-active font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center mr-2 mb-2 md:mb-0"
          onclick="my_modal_1.close()"
        >
          Salir
        </button>
        <button
          type="submit"
          [disabled]="!myForm.valid"
          class="btn btn-accent items-center text-sm w-full sm:w-auto px-5 py-2.5 text-center"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</dialog>
