<div class="relative overflow-x-auto shadow-md sm:rounded-lg px-5 md:px-10 m-4">
  <div class="mb-6 flex items-center justify-between">
    <h1 class="text-2xl font-semibold">Entrada de combustible</h1>
    <button
      class="btn btn-outline btn-accent capitalize"
      onclick="my_modal_1.showModal()"
      (click)="handlerNewMeassure()"
    >
      Nueva entrada de combustible
    </button>
  </div>

  <div class="overflow-x-auto">
    <table class="table sm:table-xs md:table-xl">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Persona</th>
          <th>Tipo</th>
          <th>Combustible</th>
        </tr>
      </thead>
      @if (listaEntranse.hasValue()) {
      <tbody>
        @for (item of listaEntranse.value().content; track item.idEntrada) {
        <tr class="hover:bg-gray-300">
          <td>{{ item.fechaEntrada | date : 'short' }}</td>
          <td>
            <p>{{ item.persona.nombre }}</p>
          </td>
          <td>
            <p>{{ item.tipo }}</p>
          </td>
          <td>
            <p>{{ item.cantidad }}</p>
          </td>
        </tr>
        }
      </tbody>
      }
      <tfoot>
        <tr>
          <th>Fecha</th>
          <th>Petroleo</th>
          <th>Regular</th>
          <th>Premiun</th>
        </tr>
      </tfoot>
    </table>
      <!-- Paginación -->
  @if(listaEntranse.hasValue()){
  <app-pagination
    [pages]="listaEntranse.value().totalPages"
    [totalElements]="listaEntranse.value().totalElements"
    [currentPage]="_paginationService.currentPage()"
    [currentSize]="_paginationService.currentSize()"
  />
  }
  </div>
</div>
<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <form method="dialog" autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">
      <div class="mt-5">
        <label
          for="tipo"
          class="block mb-2 text-sm font-medium"
          [ngClass]="{
            ' text-red-700 dark:text-red-500': formUtils.isValiedField(myForm, 'tipo')
          }"
          >Combustible que llego</label
        >
        <div class="grid grid-cols-2 gap-4">
          <div>
            <select
              class="select"
              formControlName="tipo"
              name="tipo"
              id="tipo"
              [ngClass]="{
                ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
                  formUtils.isValiedField(myForm, 'tipo')
              }"
            >
              <option disabled selected value="">Seleccione el combustible</option>
              <option value="petroleo">Petroleo</option>
              <option value="regular">Regular</option>
              <option value="premiun">Premiun</option>
            </select>
            @if(formUtils.isValiedField(myForm,'tipo')){
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium">{{ formUtils.getFieldError(myForm, 'tipo') }}</span>
            </p>
            }
          </div>
          <div>
            <input
              type="number"
              id="cantidad"
              formControlName="cantidad"
              placeholder="Cantidad en galones"
              class="border text-sm input-md input rounded-lg block w-full p-2.5"
              [ngClass]="{
                ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
                  formUtils.isValiedField(myForm, 'cantidad')
              }"
            />
            @if(formUtils.isValiedField(myForm,'cantidad')){
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">
              <span class="font-medium">{{ formUtils.getFieldError(myForm, 'cantidad') }}</span>
            </p>
            }
          </div>
        </div>
      </div>

      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      <div class="md:flex md:justify-end mt-2">
        <button
          class="btn btn-active font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center mr-2 mb-2 md:mb-0"
          onclick="my_modal_1.close()"
        >
          Salir
        </button>
        <button
          type="submit"
          [disabled]="!myForm.valid"
          class="text-white bg-accent focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</dialog>
