<div class="relative overflow-x-auto shadow-md sm:rounded-lg px-5 md:px-10 m-4">
  <div class="z-5 fixed top-16 bg-base-100 w-full py-4">
    <h1 class="text-xs md:text-2xl font-semibold mb-2">Instituciones</h1>
    <button class="btn btn-outline btn-accent min-w-36" onclick="my_modal_1.showModal()">
      Crear institución
    </button>
  </div>

  <!-- Búsqueda general -->
  <div class="overflow-x-auto">
    <tyn-filter
      [filterMenu]="filterMenu()"
      (selectFilter)="changeState($event)"
      placeholder="Buscar"
      [currentPage]="_linkService.currentPage()"
      [currentSize]="_linkService.currentSize()"
      [currentSearchTerm]="_linkService.currentSearchTerm()"
      [currentDateStartValue]="_linkService.currentDateInitialFilter()"
      [currentDateEndValue]="_linkService.currentDateEndFilter()"
    ></tyn-filter>

    <table class="table sm:table-xs md:table-xl">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Ruc</th>
          <th>Opciones</th>
        </tr>
      </thead>
      @if (listOrganizationRx.hasValue()) {
        <tbody>
          @for (item of listOrganizationRx.value().content; track $index) {
            <tr class="hover:bg-gray-300">
              <td class="text-xs md:text-xl">{{ item.nombreOrganization }}</td>
              <td>
                {{ item.status ? 'Activo' : 'Inactivo' }}
              </td>

              <td>
                {{ item.ruc }}
              </td>
              <td>
                <button
                  class="btn btn-sm btn-outline btn-accent"
                  (click)="openModal(item, modalOrgRef)"
                >
                  Editar
                </button>
              </td>
            </tr>
          } @empty {
            <p class="text-center w-max">
              <i class="fa-info-circle fa" aria-hidden="true"></i> No hay información para mostrar
            </p>
          }
        </tbody>
      }
      <tfoot>
        <tr>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Ruc</th>
          <th>Opciones</th>
        </tr>
      </tfoot>
    </table>
    <!-- Paginación -->
    @if (listOrganizationRx.hasValue()) {
      <app-pagination
        [pages]="listOrganizationRx.value().totalPages"
        [totalElements]="listOrganizationRx.value().totalElements"
        [currentPage]="_linkService.currentPage()"
        [currentSize]="_linkService.currentSize()"
      />
    }
  </div>
</div>
<dialog #modalOrgRef id="my_modal_1" class="modal" (close)="closeModal(modalOrgRef)">
  <div class="modal-box w-11/12 max-w-5xl">
    <form method="dialog" autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">
      <div class="mt-5">
        <div>
          <div class="mt-5">
            <label
              for="nombreOrganization"
              class="block mb-2 text-sm font-medium"
              [ngClass]="{
                ' text-red-700 dark:text-red-500': formUtils.isValiedField(
                  myForm,
                  'nombreOrganization'
                ),
              }"
              >Nombre de la institución*</label
            >
            <input
              type="text"
              id="nombreOrganization"
              formControlName="nombreOrganization"
              placeholder="Nombre de la institución"
              class="border text-sm input-md input rounded-lg block w-full p-2.5"
              [ngClass]="{
                ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
                  formUtils.isValiedField(myForm, 'nombreOrganization'),
              }"
            />
            @if (formUtils.isValiedField(myForm, 'nombreOrganization')) {
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                <span class="font-medium">{{
                  formUtils.getFieldError(myForm, 'nombreOrganization')
                }}</span>
              </p>
            }
          </div>
          <div class="mt-5">
            <label
              for="status"
              class="block mb-2 text-sm font-medium"
              [ngClass]="{
                ' text-red-700 dark:text-red-500': formUtils.isValiedField(myForm, 'status'),
              }"
              >Estado de la institución</label
            >
            <select
              class="select"
              formControlName="status"
              name="status"
              id="status"
              class="select w-full"
              [ngClass]="{
                ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
                  formUtils.isValiedField(myForm, 'status'),
              }"
            >
              <option disabled selected value="">Seleccione el estado</option>
              <option value="true">Activo</option>
              <option value="false">Suspendido</option>
            </select>
            @if (formUtils.isValiedField(myForm, 'status')) {
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                <span class="font-medium">{{ formUtils.getFieldError(myForm, 'status') }}</span>
              </p>
            }
          </div>
          <div class="mt-5">
            <label
              for="ruc"
              class="block mb-2 text-sm font-medium"
              [ngClass]="{
                ' text-red-700 dark:text-red-500': formUtils.isValiedField(myForm, 'ruc'),
              }"
              >RUC</label
            >
            <input
              type="text"
              id="ruc"
              formControlName="ruc"
              placeholder="RUC"
              class="border text-sm input-md input rounded-lg block w-full p-2.5"
              [ngClass]="{
                ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
                  formUtils.isValiedField(myForm, 'ruc'),
              }"
            />
            @if (formUtils.isValiedField(myForm, 'ruc')) {
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                <span class="font-medium">{{ formUtils.getFieldError(myForm, 'ruc') }}</span>
              </p>
            }
          </div>
        </div>
      </div>

      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      <div class="md:flex md:justify-end mt-2">
        <button
          type="button"
          class="btn btn-active font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center mr-2 mb-2 md:mb-0"
          onclick="my_modal_1.close()"
        >
          Salir
        </button>
        <button
          type="submit"
          [disabled]="!myForm.valid"
          class="btn btn-accent items-center text-sm w-full sm:w-auto px-5 py-2.5 text-center"
          ngClass="disabled:bg-accent/40 disabled:cursor-not-allowed"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</dialog>
