/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@plugin "daisyui" {
  themes: retro --default, winter, valentine, dark, forest;
}
@theme {
  --font-montserrat: 'Montserrat', 'sans-serif';

  --animate-fadeIn: fadeIn 0.3s ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-alternates/montserrat-alternates-medium.ttf');
}
/* this will not work */
.modal-box svg {
  fill: red;
}

/* this will work */
.modal-box svg path {
  fill: red;
}

calendar-range svg {
  height: 16px;
  width: 16px;
  stroke: currentColor;
  stroke-width: 1.5;
  fill: var(--color-base-content);
}
calendar-range path {
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: var(--color-base-content);
}
calendar-month {
    --color-accent: var(--color-base-content);
    --color-text-on-accent: #ffffff;
  }

calendar-range::part(months) {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}
