<div class="relative overflow-x-auto shadow-md sm:rounded-lg px-5 md:px-10 m-4">
  <div class="mb-6 flex items-center justify-between">
    <h1 class="text-xs md:text-2xl font-semibold">Registro diario</h1>

    <button
      id="button-excel"
      class="text-white bg-accent hover:bg-accent/50 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center hover:cursor-pointer"
      (click)="descargarXLS()"
    >
      Descargar
    </button>
  </div>

  <div class="mb-6 inline md:flex items-center justify-between">
    <select class="select my-1">
      <option disabled selected>Seleccione personal</option>
      @if (listPersonaData() && listPersonaData()!.data.length > 0) {
        @for (item of listPersonaData()?.data; track $index) {
          <option (click)="listTurnoByPerson(item.idPersona)">{{ item.nombre }} {{ item.apellido }}</option>
        }
      }
    </select>
    <div class="inline md:flex gap-2">
      <div>
        <label for="feche_inicio">Fecha inicio</label>
        <input type="date" id="feche_inicio" class="input my-1" />
      </div>
      <div>
        <label for="feche_fin">Fecha fin</label>
        <input type="date" id="feche_fin" class="input my-1" />
      </div>
    </div>
  </div>

  <div class="overflow-x-auto">
    <table class="table sm:table-xs md:table-xl" id="simpleTable1">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Persona</th>
          <th>Tipo</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th>Total</th>
          <th>Observaciones</th>
        </tr>
      </thead>
      @if(turnoList() && turnoList()!.data.length > 0) {
      <tbody>
        @for (lista of turnoList()!.data[0].turnos; track lista.idTurno) { @for (item of lista.medidas; track item.idMedida)
        {
        <tr class="hover:bg-gray-300">
          <td class="border-t-2">{{ lista.fecha_entrada | date : 'short' }}</td>
          <td class="border-t-2">{{ turnoList()!.data[0].nombre }} {{ turnoList()!.data[0].apellido }}</td>
          <td
            [ngStyle]="$index == 0 ? { 'border-top': '2px solid' } : { 'border-top-style': 'none' }"
          >
            {{ item.tipo }}
          </td>
          <td
            [ngStyle]="$index == 0 ? { 'border-top': '2px solid' } : { 'border-top-style': 'none' }"
          >
            {{ item.entrada }}
          </td>
          <td
            [ngStyle]="$index == 0 ? { 'border-top': '2px solid' } : { 'border-top-style': 'none' }"
          >
            @if (item.salida) {
            <span>
              {{ item.salida }}
            </span>
            }
          </td>
          <td
            [ngStyle]="$index == 0 ? { 'border-top': '2px solid' } : { 'border-top-style': 'none' }"
          >
             @if (item.salida) {
            <span>
              {{ item.salida - item.entrada }}
            </span>
            }
          </td>
          @if ($index == 0) {
          <td
            [ngStyle]="$index == 0 ? { 'border-top': '2px solid' } : { 'border-top-style': 'none' }"
          >
            @for (obs of lista.observaciones.split(','); track $index) { @if (obs !== '') {
            <div role="alert" class="alert alert-info mt-1">
              <span>{{ obs.trim() }}</span>
            </div>
            } }
          </td>
          }
        </tr>
        }
        <tr>
          <td colspan="7"></td>
        </tr>
        }
      </tbody>
      }
      <tfoot>
        <tr>
          <th>Fecha</th>
          <th>Tipo</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th>Total</th>
          <th>Observaciones</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
